@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    /* == COLORS == */
    --green: hsl(150, 100%, 63%);
    --purple-900: hsl(273, 85%, 13%);
    --purple-500: hsl(271, 12%, 34%);
    --purple-100: hsl(276, 100%, 99%);
    --white: hsl(0, 0%, 100%);
    /* == FONTS == */
    --main-font: 'Manrope';
    /* sans-serif */
    --accent-font: 'Fraunces';
    /* serif */
}

* {
    box-sizing: border-box;
    font-family: var(--main-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
}

body {
    color: var(--purple-900);
    background-color: var(--white);
    overflow-x: hidden;
}

.header {
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    height: 561px;
    color: var(--white);
    background-color: var(--purple-100);
    overflow-x: hidden;
}

.header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100vw * 4);
    height: calc(100vw * 4);
    border-radius: 50%;
    transform-origin: bottom;
    transform: translate(-50%, -80px);
    background-color: var(--purple-900);
}

.nav {
    position: relative;
    width: 100%;
    z-index: 5;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    width: 96px;
    height: auto;
}

.nav__login {
    display: flex;
    flex-direction: column;
}

.nav__login-text {
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
}

.nav__login-text:hover {
    color: var(--green);
}

.nav__login-line {
    width: 100%;
    height: 3px;
    background-color: var(--green);
}

.hero {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: 56px;
    width: 100%;
    text-align: center;
    background-image: url('./assets/images/image-hero.webp');
    background-repeat: no-repeat;
    background-size: 320px auto;
    background-position: bottom center;
}

.hero__title,
.hero__title-accent-text {
    margin-top: 0;
    margin-bottom: 40px;
    height: 96px;
    font-family: var(--accent-font), Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    font-weight: 600;
    font-variation-settings: 'opsz' 144;
    line-height: 100%;
    text-align: center;
}

.hero__title-accent {
    border-bottom: 3px solid var(--green);
    margin-right: 3px;
}

.hero__title-accent-line {
    width: 151px;
    height: 3px;
    background-color: var(--green);
}
.block{
    display: inline-block;
}
.btn {
    /* margin-bottom: 144px; */
    padding: 12px 30px;
    height: 53px;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: var(--purple-900);
    background-color: var(--green);
    border: 2px solid var(--green);
    transition: 0.7s;
}

.btn:hover,
.btn:active,
.btn:focus{
    color: var(--green);
    background-color: var(--purple-900);
    border: 2px solid var(--green);
}

.hero__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 56%);
    padding: 0 20px;
    width: 360px;
    height: auto;
}

.main {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

.keyPoint {
    position: relative;
    padding: 64px 20px;
    height: 886px;
    overflow: hidden;
}

.keyPoint::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100vw * 4);
    height: calc(100vw * 4);
    border-radius: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
    background-color: var(--purple-100);
}

.keyPoint__item {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.keyPoint__item:first-child {
    margin-top: 0px;
}

.keyPoint__number {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid var(--purple-900);
    border-radius: 50%;
    font-family: var(--accent-font), Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 600;
    font-variation-settings: 'opsz' 144;
    line-height: 40px;
}

.keyPoint__textContainer {
    text-align: center;
}

.keyPoint__title {
    margin-bottom: 16px;
    font-family: var(--accent-font), Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: 600;
    font-variation-settings: 'opsz' 144;
    line-height: 29px;
}

.keyPoint__content {
    line-height: 29px;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 112px 20px 0px 20px;
    height: 737px;
}

.resume_container {
    position: relative;
    height: 625px;
    text-align: center;
}

.resume__avatar {
    width: 280px;
    height: 280px;
    border-radius: 50%;
}

.resume__content {
    position: relative;
    margin-top: -56px;
    z-index: 6;
    padding: 32px;
    /* height: 393px; */
    color: var(--white);
    background-color: var(--purple-900);
    text-align: center;
}

.resume__title {
    font-family: var(--accent-font), Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: 600;
    font-variation-settings: 'opsz' 144;
    line-height: 38px;
}

.resume__body {
    margin: 32px 0px;
    line-height: 29px;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 116px;
    height: 101px;
}

.footer__logo {
    width: 96px;
    height: auto;
}

.footer__link {
    width: 116px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__link-item {
    color: var(--purple-500);
}

.footer__link-item:hover,
.footer__link-item:focus,
.footer__link-item:active {
    color: var(--purple-900);
}

.footer__signature {
    position: absolute;
    bottom: 0;
}

.footer__signature p {
    font-size: 14px;
    line-height: 100%;
    text-align: center;
}

.footer__signature a {
    color: hsl(228, 45%, 44%);
    font-size: 14px;
    line-height: 100%;
}

@media (min-width: 768px) {
    .header {
        height: 676px;
    }

    .header::before {
        transform: translate(-50%, -142px);
    }

    .header::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 1440px;
        height: 452px;
        transform: translateX(-50%);
        background-image: url('./assets/images/bg-pattern-1.svg'), url('./assets/images/bg-pattern-2.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: 112px 60px, 1022px 262px;
    }

    .nav {
        padding: 0 44px;
    }

    .hero {
        background-size: 515px auto;
    }

    .hero__title,
    .hero__title-accent-text {
        height: 121px;
        font-size: 60px;
    }

    .hero__title {
        width: 458px;
    }
    .hero__title-accent {
        margin-right: 5px;
    }
    .hero__title-accent-line {
        width: 151px;
        height: 3px;
        background-color: var(--green);
    }
    .btn {
        height: 56px;
        font-size: 18px;
    }
    .keyPoint {
        position: relative;
        padding: 56px 44px 44px 44px;
        height: 596px;
    }
    .keyPoint__item {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
    }
    .keyPoint__number {
        flex-shrink: 0;
        margin-bottom: 0;
        margin-right: 56px;
    }
    .keyPoint__textContainer {
        text-align: left;
    }
    .keyPoint__title {
        margin-bottom: 28px;
        font-size: 28px;
        line-height: 34px;
    }
    .keyPoint__content {
        line-height: 29px;
    }
    .resume {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 112px 44px 0px 44px;
        height: 670px;
    }
    .resume_container {
        position: relative;
        width: 100%;
        text-align: left;
    }
    .resume__content {
        position: relative;
        margin-top: -120px;
        margin-left: 176px;
        padding: 48px;
        height: 390px;
        text-align: left;
    }
    .resume__content::after{
        content: '';
        position: absolute;
        z-index: 6;
        top: 0;
        right: 0;
        width: 48%;
        height: 500px;
        background-image: url('./assets/images/bg-pattern-3.svg');
        background-repeat: no-repeat;
        background-position: 16px 292px;
    }
    .resume__title {
        font-size: 48px;
        line-height: 58px;
    }

    .resume__body {
        margin: 32px 0px;
        line-height: 29px;
    }
}

@media (min-width: 1440px){
    .header {
        padding-top: 56px;
        height: 932px;
    }
    .header::before {
        width: calc(100vw * 5);
        height: calc(100vw * 5);
        transform: translate(-50%, -142px);
    }
    .header::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 2440px;
        height: 600px;
        transform: translateX(-50%);
        background-image: url('./assets/images/bg-pattern-1.svg'), url('./assets/images/bg-pattern-2.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: 402px 138px, 1812px 344px;
    }
    .nav {
        padding: 0;
        width: 1120px;
    }
    .hero {
        background-size: 767px auto;
    }
    .hero__title,
    .hero__title-accent-text {
        height: 160px;
        font-size: 80px;
    }
    .hero__title {
        width: 635px;
    }
    .hero__title-accent {
        margin-right: 8px;
    }
    .keyPoint {
        display: flex;
        padding: 88px 80px 144px 80px;
        height: 610px;
        justify-content: center;
    }
    .keyPoint::before {
        width: calc(100vw * 5);
        height: calc(100vw * 5);
    }
    .keyPoint__item{
        margin: 0 32px;
        flex-direction: column;
        justify-content: start;
        align-items: center ;
        width: 352px;
    }
    .keyPoint:first-child{
        margin: 0;
    }
    .keyPoint__number{
        margin-right: 0;
        margin-bottom: 56px;
        width: 56px;
        height: 56px;
        font-size: 24px;
    }
    .keyPoint__textContainer {
        text-align: center;
    }
    .keyPoint__title {
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 38px;
    }
    .keyPoint__content {
        line-height: 32px;
        font-size: 18px;
    }
    .resume {
        padding: 112px 80px 0px 80px;
        height: 691px;
        align-items: center;
    }
    .resume_container{
        width: 1120px;
        height: 579px;
    }
    .resume__avatar{
        width: 477px;
        height: 477px;
    }
    .resume__content {
        position: absolute;
        top: 168px;
        right: 0;
        margin: 0;
        padding: 64px;
        width: 730px;
        height: 411px;
        z-index: 6;
        text-align: left;
    }
    .resume__content::after{
        background-position: 16px 266px;
    }
    .resume__title {
        font-size: 56px;
        line-height: 67px;
    }
    .resume__body{
        font-size: 18px;
        line-height: 32px;
    }
    .footer{
        padding: 112px 80px;
    }
}