@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
/* == COLORS == */
    --green : hsl(150, 100, 63);
    --purple-900 : hsl(273, 85, 13);
    --purple-500 : hsl(271, 12, 34);
    --purple-100 : hsl(276, 100, 99);
    --white: hsl(0, 0, 100);
/* == FONTS == */
    --main-font : 'Manrope'; /* sans-serif */
    --accent-font: 'Fraunces'; /* serif */
}